.DS_Store
re-1/.DS_Store
are-1/a02/.DS_Store
are-1/a02/research_contract_v1.aux
are-1/a02/research_contract_v1.bbl
are-1/a02/research_contract_v1.bcf
are-1/a02/research_contract_v1.blg
are-1/a01/research_contract_v1.log
are-1/a02/research_contract_v1.out
are-1/a02/research_contract_v1.run.xml
gaps.txt
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.aux
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.bbl
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.bcf
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.blg
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.log
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.out
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.run.xml
are-1/a02/cisc_727_are_I_a02_kenneth_peter_fernandes_literature_review_v1.toc
are-1/a02/notes/a_Foundational
are-1/references/papers/*
